# Example Toml Configuration File for use with this project
[Server]
ServerAddress = "SomeAddress"
ServerRetries = 0
ServerRetryTimeout = 0

[MySQL]
Host = "SomeHost"
Username = "SomeUsername"
Password = "SomePassword"
Database = "SomeDatabase"
Timezone = "SomeTimeZone"

[Logging]
ApiLogPath = "Path/To/Log/File"
LogLevel = "all/debug/info/warn/error/fatal"